<header>
    <nav>
        <a href="{{ path('home') }}">accueil</a>
        <a href="{{ path('personne_list') }}">Liste des personnes</a>
        <a href="{{ path('personne_add') }}">ajouter une personne</a>
    </nav>
</header>