body {
    margin: 0;
    padding: 0;
    background-color: #F3F2EF;
}

h1 {
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    padding: 1em;
}

nav a {
    margin: 0 20px;
    font-size: 1.2em;
}